SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=vetclinic_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
CLINICA_NOMBRE=Mi Veterinaria
CLINICA_DIRECCION=Av. Principal 123
CLINICA_TELEFONO=+595 21 000000
CLINICA_RUC=12345678-9
MONEDA_SIMBOLO=Gs.
IVA_PORCENTAJE=10
