# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
db.sqlite3
db.sqlite3-journal
db.sqlite3.backup*
*.log
local_settings.py
media/
staticfiles/

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno (nunca subir al repo)
.env
.env.docker

# Docker
# (docker-compose.yml SÍ se sube — tiene los servicios de producción)

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
